{% block styles  %}
    <link href="{% static 'sliders.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
Sliders task
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <progress id="progress-bar" max="{{ params.num_sliders }}" value="0"></progress>

    <canvas id="canvas" class="m-2"></canvas>

    {% if player.id_in_group == 1 %}
        <p>Spieler 1 Nachricht: {{ player.received_message }}</p>
    {% elif player.id_in_group == 2 %}
        <p>Spieler 2 Nachricht: {{ player.received_message }}</p>
    {% endif %}

</div>


<br>
{% include Constants.instructions_template %}

{% endblock %}

{% block scripts %}
<script src="{% static 'sliders.js' %}"></script>

{% endblock %}
